src/main/mule/emailfile.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:email="http://www.mulesoft.org/schema/mule/email"
	xmlns:sockets="http://www.mulesoft.org/schema/mule/sockets"
	xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/sockets http://www.mulesoft.org/schema/mule/sockets/current/mule-sockets.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="92cfd266-7d32-4c21-9d99-0efea68b4806" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<email:smtp-config name="Email_SMTP" doc:name="Email SMTP" doc:id="c96754d7-fc38-4eb5-8754-486384677116" >
		<email:smtp-connection host="smtp.gmail.com" port="587" user="srikanyasree94@gmail.com" password="vuasibsmobgpcsiq">
			<email:properties >
				<email:property key="mail.smtp.starttls.enable" value="true" />
			</email:properties>
		</email:smtp-connection>
	</email:smtp-config>
	<file:config name="File_Config" doc:name="File Config" doc:id="b3effee9-fdba-41fe-b242-7926e3e58583" />
	<flow name="emailfileFlow" doc:id="5e1b569f-fc1e-4f53-8027-bdc77340f112" >
		<http:listener doc:name="Listener" doc:id="21e3e9e1-f4ce-4997-9fdc-70e72a302185" config-ref="HTTP_Listener_config" path="/emailfile"/>
		<file:read doc:name="Read" doc:id="79028565-05f2-4b62-b3b1-c1ef8013a508" config-ref="File_Config" path="C:\Users\chint\OneDrive\Documents\student.sql"/>
		<email:send doc:name="Send" doc:id="5771d01a-9060-4ecc-ba3f-cff2a4c6ebde" config-ref="Email_SMTP" fromAddress="srikanyasree94@gmail.com" subject="flower">
			<email:to-addresses >
				<email:to-address value="srikanyasree94@gmail.com" />
			</email:to-addresses>
			<email:cc-addresses />
			<email:body contentTransferEncoding="Binary" >
				<email:content ><![CDATA[#["rose"]]]></email:content>
			</email:body>
			<email:attachments ><![CDATA[#[{
	"Attachment.chint":payload
}]]]></email:attachments>
		</email:send>
		<ee:transform doc:name="Transform Message" doc:id="1a7de80e-1110-4ddb-bc89-bc29bc64e8ef">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-payload value="payload" doc:name="Set Payload" doc:id="933cf133-9cd7-424c-b072-0e4e2c732698" />
	</flow>
</mule>
